.display-pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s ease-in-out
}

#shiny-button {
    width: 50%;
}

.evolution-information {
    width: 100%;
    height: auto;
    align-self: baseline;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}